@import "tailwindcss";

:root{
    --white: #FFFFFF;
    --primary-green: #2D4734;
    --secondary-green: #6E7D58;
    --blush: #C8A89A;
    --gold: #B98A3C; 
}

body{
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main { 
  flex-grow: 1; 
}

button{
    cursor: pointer;
}

footer {
  flex-shrink: 0; 
}

.bg-color-primary-green{
    background-color: var(--primary-green);
}

.bg-color-secondary-green{
    background-color: var(--secondary-green);
}

.bg-color-pink{
    background-color: var(--blush);
}

nav>ul>li:hover{
    background-color: var(--primary-green);
}

nav>ul>li{
    cursor: pointer;
}

/* .bottom-frame-border{
    border-style: solid;
    border-width: 40px;
    border-image-repeat: repeat;
    border-image-source: url('/bottomFrame.png');
    border-image-slice: 100;
    border-top: transparent 0 solid;
    border-color: transparent;
} */