@import "tailwindcss";

:root{
    --white: #FFFFFF;
    --primary-green: #2D4734;
    --secondary-green: #6E7D58;
    --blush: #C8A89A;
    --gold: #B98A3C; 
}

body{
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main { 
  flex-grow: 1; 
}

button{
    cursor: pointer;
}

footer {
  flex-shrink: 0; 
}

.bg-color-primary-green{
    background-color: var(--primary-green);
}

.bg-color-secondary-green{
    background-color: var(--secondary-green);
}

.bg-color-pink{
    background-color: var(--blush);
}

.nav-link:hover{
    background-color: var(--primary-green);
    border-radius: 15px;
}

.nav-link{
    cursor: pointer;
    border-radius: 15px;
}

.bg-gold{
    background-color: var(--gold);
}

.other-socials-box{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    /*clip-path: polygon(0 50%, 0 0, 100% 0, 100% 50%, 50% 100%);*/
    padding: 20px 40px;
    background-color: var(--primary-green);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    border-radius: 6px;
}

.other-socials-box button:hover{
    color: var(--gold);
}